<div class="container dl-box mb-5">
    <div class="row d-flex dl-info p-3">
        <div class="col d-flex dl-image-container justify-content-center align-items-center"><img class="img-fluid dl-image" src="{{include.imageurl | absolute_url}}" alt="{{ include.title }}"/></div>
        <div class="col dl-meta d-flex flex-column flex-md-wrap justify-content-between">
            <h2 class="downloadtitle d-flex justify-content-center" id="{{ include.title | slugify }}">
                {{include.title}}
            </h2>
            <div class="d-flex">
                <ul class="d-flex flex-column">
                    <li>
                        Version: {{include.version}}
                    </li>
                    <li>
                        Größe: {{include.filesize}}
                    </li>
                    <li>
                        Datum: {{include.date}}
                    </li>
                </ul>
            </div>
            <a href="{{ include.downloadurl | absolute_url}}" class="btn btn-info btn-lg d-flex w-100 justify-content-center" role="button">Download</a>
        </div>
    </div>
    <div class="row dl-description p-3">
        {{include.description | liquify | markdownify}}
    </div>
</div>
    