<!-- FOOTER -->
<footer class="container-fluid pb-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <nav>
          <ul class="nav flex-column">
            <li clas="nav-item">
                <a class="nav-link" href="{{"/datenschutz.html" | absolute_url }}">Datenschutz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{"/impressum.html" | absolute_url }}">Impressum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{"/resources-licences.html" | absolute_url }}">Ressourcen und Lizenzen</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-4">
        <nav>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{{"https://discord.gg/EpgkPHc" | absolute_url }}">Discord Server</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{"/downloads.html" | absolute_url }}">Alle Downloads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{"/support.html" | absolute_url }}">Diese Seite unterst&uuml;tzen</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-4"></div>
      </div>
    </div>


    <div class="row copyright mt-4">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">&copy; 2017 Simon Müller</div>
          <div class="col-sm-4"><a href="#">Back to top</a></div>
    </div>
  </div>
</footer>