<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{site.description}}">
  <meta name="author" content="Simon Mueller">
  <link rel="icon" href="{{site.smallicon | absolute_url }}" sizes="32x32">
  <link rel="icon" href="{{site.largeicon | absolute_url }}" sizes="192x192">


  <title>{{ site.title }} &dash; {{ site.subtitle }}</title>
  <link rel="stylesheet" type="text/css" href="{{"/css/material-icons.css" | absolute_url }}">
  <link rel="stylesheet" type="text/css" href="{{"/css/bootstrap.min.css" | absolute_url }}">
  <link rel="stylesheet" type="text/css" href="{{"/css/main.css" | absolute_url }}">
  <link rel="stylesheet" type="text/css" href="{{"/css/fonts.css" | absolute_url }}">

</head>

<body >